{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
</br>
</br>
<body style="color:white">
</br>
</br>
<h2 style="font-family: Agency FB"> PHOTOS THAT TAKE YOUR BREATHE AWAY</h2>
</br>
</br>
<div class="container" style="max-width: 1240px;">
      <div class="row pt-5">
            <a href="images/nature">
            <div class=" d-none d-md-none d-md-block col-md-4">
                    <div class="card mb-1 shadow mb-3 bg-white rounded">
                        <img class="card-img-top" src="http://127.0.0.1:8000/api/id/17">
                        <div class="card-body d-flex justify-content-between"></div>
                        <h6 style="color:black"> NATURE </h6>
                    </div>
            </a>
            </div>

            <a href="images/space">
            <div class=" d-none d-md-none d-md-block col-md-4">
                    <div class="card mb-1 shadow mb-3 bg-white rounded">
                        <img class="card-img-top" src="http://127.0.0.1:8000/api/id/12">
                        <div class="card-body d-flex justify-content-between"></div>
                        <h6 style="color:black"> SPACE </h6>
                    </div>
            </a>
            </div>

            <a href="images/wildlife">
            <div class=" d-none d-md-none d-md-block col-md-4">
                    <div class="card mb-1 shadow mb-3 bg-white rounded">
                        <img class="card-img-top" src="http://127.0.0.1:8000/api/id/15">
                        <div class="card-body d-flex justify-content-between"></div>
                        <h6 style="color:black"> WILDLIFE </h6>
                    </div>
            </a>
            </div>
</div>

</br>
</br>
<button class="btn btn-light"><a style="color:navy" href="images/all">FULL GALLERY</a></button>
</br>
</br>
</br>
</body>
</center>
{% endblock %}