{% load static %}

<link rel="stylesheet" type="text/css">

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">HOME<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href=""></a>
      <a class="nav-item nav-link" href=""></a>
      <a class="nav-item nav-link" href="/images/all">FULL GALLERY</a>
    </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> CATEGORY</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/images/nature">NATURE</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/images/space">SPACE</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/images/wildlife">WILDLIFE</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/images/popular">POPULAR</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/images/new">NEWEST</a>
        </div>
      </li>
    </ul>
  </div>
      {% if request.user.is_authenticated %}
        <span><a class="nav-item nav-link" href="/images/upload" style="color:#0cebdc">UPLOAD</a></span>
        <span><a class="nav-item nav-link" href="/images/logout" style="color:#0cebdc">LOGOUT</a></span>
      {% else %}
        <span><a class="nav-item nav-link" href="/images/login" style="color:#0cebdc">LOGIN</a></span>
        <span><a class="nav-item nav-link" href="/images/register" style="color:#0cebdc">SIGN UP</a></span>
      {% endif %}
  </div>
</nav>